/* This file only exists bc its easier than inline css */
body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	color: #57585c;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a:visited {
    //color: white;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 25px;
}

